#para{
    text-align: center;
    font-size: 25px;
}

/* Pseudo element selector */
#programmer::first-line{
    font-size: 2rem;
    font-weight: bold;
}

section {
    padding: 5px;
    margin-right: 4%;
    margin-left: 4%;
}

.grid-container{
    display: grid;
    text-align: center;
    grid-template-areas: 
        "video para"
        "video audio";
    padding: 10px;
}
    
.para {
    grid-area: para;
}

.audio {
    grid-area: audio;
}

.video {
    grid-area: video;
}

/* Mobile layout*/
@media only screen and (max-width: 450px){
    .grid-container{
        display: grid;
        text-align: center;
        grid-template-areas: 
            "para"
            "audio"
            "video";
        padding: 10px;
    }
    
    .para {
        grid-area: para;
    }
    
    .audio {
        grid-area: audio;
    }
    
    .video {
        grid-area: video;
    }

    
}

/* Tablet layout*/
@media only screen and (max-width: 1000px) and (min-width: 450px){
    .grid-container{
        display: grid;
        text-align: center;
        grid-template-areas: 
            "para audio"
            "video video";
        padding: 10px;
    }
    
    .para {
        grid-area: para;
    }
    
    .audio {
        grid-area: audio;
    }
    
    .video {
        grid-area: video;
    }
}



 
  